<!DOCTYPE html>
<html>
<head>
	<title>angular-osm nominatim</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script type="text/javascript" src="https://npmcdn.com/x2js@2.0.1/x2js.js"></script>
	<script type="text/javascript" src="https://npmcdn.com/angular@1.5.5/angular.js"></script>
	<script type="text/javascript" src="https://npmcdn.com/angular-leaflet-light@0.0.4/dist/angular-leaflet.js"></script>
	<script type="text/javascript" src="https://npmcdn.com/angular-base64@2.0.5/angular-base64.min.js"></script>
	<script type="text/javascript" src="https://npmcdn.com/ngstorage@0.3.10/ngStorage.min.js"></script>
	<script type="text/javascript" src="../../dist/osm-full.js"></script>
	<script type="text/javascript" src="example.js"></script>
</head>
<body ng-app="example" ng-controller="ExampleCtrl as $ctrl">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p class="help-block">This example show you how to use osmtogeojson</p>
				<form name="manual">
					<div class="form-group">
						<label>Your own data</label>
						<textarea class="form-control" ng-model="$ctrl.osmdata" rows="15"></textarea>
					</div>
					<button class="btn btn-default btn-block"
						ng-click="$ctrl.togeojson()">togeojson</button>
				</form>
				<hr/>
				<leaflet on-map-initialized="$ctrl.onMapInitialized(map)" style="min-height:200px"></leaflet>
				<button class="btn btn-default btn-block" ng-click="$ctrl.getMapGeoJson()">togeojson(getMap(bbox))</button>
			</div>
			<ng-include src="'../display.html'"></ng-include>
		</div>
	</div>
</body>
</html>